<%- include('partials/header', { title: "No Inventory" }) %>

<main>
  <h1>No Inventory Found</h1>
  <p>Sorry, there are no vehicles under this classification at the moment.</p>
</main>

<%- include('partials/footer') %>
