<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<div class="management-links">
  <p><a href="/inv/add-classification">Add New Classification</a></p>
  <p><a href="/inv/add-inventory">Add New Vehicle</a></p>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification to see those inventory items</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>


<script src="../../js/inventory.js"></script>